<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Semantic-UI/semantic.css">

    <script type="text/javascript" src="../Libs/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../Semantic-UI/semantic.js"></script>
    <script type="text/javascript" src="../controler/controler.js"></script>

    <title>Page d'inscription</title>
</head>
<body>
  
    <div class="ui inverted segment" style="background-color:black">
        <div class="ui inverted secondary  pointing menu" style="margin-left:117vh; margin-top:4vh">
        <i class="home icon"></i> <a href="../model/acceuil.php" class=" item">
            Acceuil
          </a>
          <i class="file alternate icon"></i><a href="services.html" class="item"> Services  </a>
          
        
          <i class="question circle icon"></i><a class="item">
            A propos
          </a>
          <i class="edit icon"></i><a class=" active item">S'inscrire  </a>   
         
            <i class="power off icon"></i><a href="../index.html" class=" item">Se déconnecter   </a>
          
        </div>
        <p style="margin-top:-17vh"><h1>MUSUPROCNET</h1>
      <h6>Mutuelle de santé de l'université protestante au congo Network</h6></p>
      </div>
      <div style="border: 1px solid sienna; width:500px;margin-left:6vh; padding:6vh; background-color:khaki">
<h2>inscription</h2><br>
L'inscription à la MUSUPROC permet à l'étudiante(e) de pouvoir devenir membre bénéficiares de la MUSUPROC;<br>
Cette inscription est valable pour tout étudiant(e) incrit à l'UPC mais aussi, <br>
Tout étudiant en ordre avec le paiement de frais académique d'au moins une tranche.<br><br>
Une fois l'inscription faite ce dernier sera en possession d'un livret de santé qui lui sera remis à la MUSUPROC <br>
pour bénéficier de ces soins et services.
<br><br>
L'inscription se fait via un Formulaire a remplir où sera stocker vos données;<br>
A noter que l'étudiant(e) ayant envoyer ses Informations doit se présenter à la MUSUPROC au sein du campus, <br>
pour la déposer deux photos passeport et montrer sa carte ou preuve de paiement pendant un délai de 2 semaines,<br>
Si ce dernier ne se présente pas alors son inscription sera annulée.


      </div>

      <div style="width:500px; margin-left:120vh;border:2px solid sienna; padding:6vh; margin-top:-82vh; z-index:1 ">
    <form class="ui mini form formululaire_inscrip" >
       <center> <h3 class="ui dividing header">Formulaire de s'inscription à la MUSUPROC</h3></center>
        <div class="field">

           
            <div class="two fields">
                <div class="field" style="width:400px">
                    <label>Nom</label>
                    <input type="text" name="nom"   placeholder="Entre votre nom">
                    <div class="field">
                        <label>Post_nom</label>
                        <input type="text" name="post_nom" id="post" placeholder="Entrez votre post_nom">
                    </div>
                    <div class="field" style="width:400px">
                        <label>Téléphone</label>
                        <input type="text" placeholder="(xxx)" name="numero">
                    </div>
                      </div>
                </div>
                <div class="two fields">
                  <div class="field" style="width:400px">
                      <label>Prenom</label>
                      <input type="text" name="prenom"   placeholder="Entre votre prenom">
                      <div class="field">
                          <label>Avenue</label>
                          <input type="text" name="avenue" id="avenue" placeholder="Entrez votre avenue">
                      </div>
                      <div class="field" style="width:400px">
                          <label>Promotion</label>
                          <input type="text" name="promotion" id="promo" placeholder="Entrez votre Promotion">
                      </div>
                        </div>
                  </div>
                  <div class="two fields">
                    <div class="field" style="width:400px">
                        <label>Quartier</label>
                        <input type="text" name="quartier"   placeholder="Entre votre quartier">
                        <div class="field">
                            <label>Commune</label>
                            <input type="text" name="commune" id="adr" placeholder="Entrez votre communne">
                        </div>
                        <div class="field" style="width:400px">
                            <label>Profession</label>
                            <input type="text" name="profession" id="prof" placeholder="Entrez votre Profession">
                        </div>
                        <div class="field" style="width:400px">
                          <label>Lieu & date de naissance</label>
                          <input type="text" name="date" id="date" placeholder="Entrez votre lieu et date de naissance">
                      </div>
                          </div>
                    </div>
    
                      
                <div class="field">
                    <label>Sexe</label>
                    <div class="ui selection dropdown" style="width:400px">

                        <input type="hidden" name="gender" >
                        <i class="dropdown icon"></i>
                        <div class="default text">Genre</div>
                        <div class="menu">
                            <div class="item" data-value="M"><i class="male icon"></i>Masculin</div>
                            <div class="item" data-value="F"><i class="female icon"></i>Feminin</div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="ui mini buttons">
                <a class="ui negative button " id="button_annuler"><i class="cancel icon"></i>Annuler</a>
                <div class="ou"></div>
                <button class="ui positive button button_enregistrer " id="button_enregistrer"><i class="checkmark icon"></i>Envoyer</button>
            </div>

            <div class="ui modal">
                <i class="close icon"></i>
                <div class="header">
                    <i class="mail icon"></i>
                  Message
                </div>
                <div class="image content">
                  <i class="green checkmark icon"></i>
                  <div class="description">
                    <div class="ui header">
                        Enregistrement reussi
                  </div>
                </div>
                <div class="actions">
                  
                  <div class="ui positive right labeled icon button">
                 Informations envoyées avec succès
                    <i class="checkmark icon"></i>
                  </div>
                </div>
              </div>
              
                
              </div>
              

    </form>

  </div>
</body>      
</html>