<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Semantic-UI/semantic.css">

    <script type="text/javascript" src="../Libs/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../Semantic-UI/semantic.js"></script>
    <script type="text/javascript" src="../controler/controler.js"></script>

    <title>Page des services</title>
</head>
<body>
  
    <div class="ui inverted segment" style="background-color:black">
        <div class="ui inverted secondary  pointing menu" style="margin-left:117vh; margin-top:4vh">
        <i class="home icon"></i> <a href="../model/acceuil.php" class=" item">
            Acceuil
          </a>
          <i class="file alternate icon"></i><a href="services.html" class=" active item"> Services  </a>
          
        
          <i class="question circle icon"></i><a class=" item">
            A propos
          </a>
          <i class="edit icon"></i><a href="inscription.html" class="  item">S'inscrire  </a>   
         
            <i class="power off icon"></i><a href="../index.html" class=" item">Se déconnecter   </a>
          
        </div>
        <p style="margin-top:-17vh"><h1>MUSUPROCNET</h1>
            <h6>Mutuelle de santé de l'université protestante au congo Network</h6></p>
            </div>
    
            <br>
            <div class="text_services">
<p>
  <h2>
La mission de la MUSUPROC ayant pour but de faciliter aux membres et à leurs personnes à charge l'accès aux soions de santé de qualité. <br>

  </h2>
  <h5>
    
  </h5>
</p>
</div>
      </body>
      </html>        